<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<!-- clear all other connection strings -->
		<add name="conn" connectionString="server=localhost; port=3306; user=root; password=Root@123; database=robotautomation; CheckParameters=False; pooling = false; SslMode=None"/>

		<add name="connAuto" connectionString="server=localhost; port=3306; user=root; password=Root@123; database=robotautomation; CheckParameters=False; pooling = false; SslMode=None"/>

		<add name="connMail" connectionString="server=localhost; port=3306; user=root; password=Root@123; database=robotautomation; CheckParameters=False; pooling = false; SslMode=None"/>

		<add name="connDal" connectionString="server=localhost; port=3306; user=root; password=Root@123; database=robotautomation; CheckParameters=False; pooling = false; SslMode=None"/>

		</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>